[submodule "ignite-node-conceitos-do-nodejs"]
	path = ignite-node-conceitos-do-nodejs
	url = https://github.com/navarrotheus/ignite-node-conceitos-do-nodejs
[submodule "ignite-node-trabalhando-com-middlewares"]
	path = ignite-node-trabalhando-com-middlewares
	url = https://github.com/navarrotheus/ignite-node-trabalhando-com-middlewares
[submodule "ignite-node-corrigindo-o-codigo"]
	path = ignite-node-corrigindo-o-codigo
	url = https://github.com/navarrotheus/ignite-node-corrigindo-o-codigo
[submodule "ignite-node-introducao-ao-SOLID"]
	path = ignite-node-introducao-ao-SOLID
	url = git@github.com:navarrotheus/ignite-node-introducao-ao-SOLID.git
[submodule "ignite-node-documentando-com-swagger"]
	path = ignite-node-documentando-com-swagger
	url = git@github.com:navarrotheus/ignite-node-documentando-com-swagger.git
